<mat-card class="example-card">
  <mat-card-header>
    <mat-icon aria-hidden="false" aria-label="Example face icon">face</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill" class="login">
      <mat-label>Seu email</mat-label>
      <input [(ngModel)]="mail" matInput placeholder="pat@example.com" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="login">
      <mat-label>Senha</mat-label>
      <input [(ngModel)]="pass" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="true"></div>
  </mat-card-content>
  <button mat-button class="entrar" (click)="attemptLogin()">Entrar</button>
  <a routerLink="/register" mat-raised-button class="register" color="warn">Cadastrar</a>
  <a routerLink="/" mat-raised-button class="forgot" (click)="contact()">Esqueceu a senha?</a>
</mat-card>
