.grid-container {
	margin: 20px;
}

.dashboard-card {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
}

.more-button {
	position: absolute;
	top: 5px;
	right: 10px;
}

.dashboard-card-content {
	text-align: center;
}

mat-grid-tile {
	background: transparent;
}

mat-grid-tile.sale {
		font-size: 60px;
		-webkit-text-stroke: medium;
		color: #87CEFA;
}

mat-grid-tile.take {
	font-size: 60px;
	-webkit-text-stroke: medium;
	color: #ff6f9c;
}

mat-card-header {
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}

.example-card img {
	width: 100%;
	height: auto;
}

.example-card mat-card-content {
	font-size: 35px;
	font-weight: bold;
}
