/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-paginator-container {	
	justify-content: center !important;
}

.mat-input-element {
	caret-color: #BA6DB1 !important;
}

mat-form-field.login {
	width: 100% !important;
}

.mat-card {
	box-shadow: none !important;
}